@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap");

html{
    background: #222222;
}

#root {
    font-family: "Space Mono", monospace;
    background: #01e08f;
    border-radius: 5px;
    padding: 1rem;
}
